<ion-view view-title="UAT OUT">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title class="titlefont">UAT OUT</ion-nav-title>
    <ion-nav-buttons side="right ">
        <button class="button button-clear" ng-click=" ">
                <div style="padding-top:2px"><img src="img\sortfilter.png "></div>
          </button>
        <button class="button button-icon icon ion-android-wifi" ng-click="openConnection()"></button>>
        <button class="button button-icon icon ion-archive" ng-click=" "></button>
        <button class="button button-icon icon ion-android-walk" ng-click="runTest() "></button>
        <button class="button button-icon icon ion-android-more-horizontal" ng-click="openMore($event)"></button>
    </ion-nav-buttons>
    <ion-content style="background-color:whitesmoke">
        <div class="list card">
            <div style="align-content: stretch;margin-bottom:10px;">
                <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="uatAUXStateVectorTest">PREVIOUS</button>
                <button class="button icon-right ion-chevron-right button-clear button-dark" ui-sref="uatTrajectoryChangeTest" style="float: right">NEXT</button>
            </div>
            <div style="margin-left:15px">
                <table class="detailpageTbmargin">
                    <tr>
                        <th class="detailheading" colspan="2" align="left">UAT RF Link Test</th>
                    </tr>
                    <tr>
                        <td class="detailLabel">AA ID:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.address}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Address Qualifier:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.addressQualifier}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Payload Type Codes:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.payloadTypeCodes}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Equipage Class:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.equipageClass}}</td>
                    </tr>
                </table>
                <table class="detailpageTbmargin">
                    <tr>
                        <th class="detailheading" colspan="3" align="left">RF Link Properties</th>
                    </tr>
                    <tr>
                        <td class="detailLabel">TX Power:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.txPower}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Power Droop:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.powerDroop}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Frequency:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.frequencyA}}</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.frequencyB}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Deviation:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.deviationA}}</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.deviationB}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">peakDeviation:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.peakDeviationA}}</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.peakDeviationB}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Message Timming:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.messageTimming}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Eye Openning Ver:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.eyeOpenningVerA}}</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.eyeOpenningVerB}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Eye Openning Hor:</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.eyeOpenningHorA}}</td>
                        <td class="detailResult">{{uatDetailRFLinkTest.eyeOpenningHorB}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>