<ion-card style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;">
    <ion-grid style="height: 100%;">
        <ion-row>
            <ion-col no-padding style="width: 50px;flex: 0 0 50px;"></ion-col>
            <ion-col no-padding text-center align-self-center text-nowrap style="overflow: hidden;text-overflow: ellipsis;">
                <b style="font-size: 16px;">NETWORK</b><br>
            </ion-col>
            <ion-col col-auto no-padding>
                <button ion-button icon-only clear (click)="onGoBack()"><ion-icon name="close"></ion-icon></button>
            </ion-col>
        </ion-row>
        <ion-scroll scrollY="true" style="height:100%;">
            <ion-item no-lines style="background:transparent;">
                <ion-label>CONNECTIVITY</ion-label>
                <ion-toggle [(ngModel)]="isConnectivityEnabled" (ngModelChange)="connectivityChanged()"></ion-toggle>
            </ion-item>
            <ion-item></ion-item>
            <ion-list *ngIf="isConnectivityEnabled">
                <ion-item class="clear-background">
                    <ion-label item-start>CONNECTED DEVICE:</ion-label>
                    <ion-label item-content>{{connectedDeviceName }}</ion-label>
                    <button item-end ion-button clear icon-only (click)="onScanDevices()" style="width:40px;height:35px"><ion-icon name="search"></ion-icon></button>
                </ion-item>
                <ion-item></ion-item>
                <ion-list-header no-lines>
                    Controller/Observers
                </ion-list-header>
                <ion-item *ngFor="let item of controllerObservers">
                    <ion-label item-start>{{item.name}}</ion-label>
                    <ion-icon item-content name="game-controller-b" *ngIf="item.iscontroller"></ion-icon>
                    <ion-icon item-content name="eye" *ngIf="!item.iscontroller"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-grid>
</ion-card>