detail-default{    
    
.heading{
        font-size: 16px;
        display: inline-block;
        font-weight: 600;
        margin-top: 20px !important;
        width: auto;
        // background-color: aqua;
}
.label95{
        width: 95px !important;
        display: inline-flex;        
        font-size: 16px !important;
        // background-color: salmon;
}
.label60{
        min-width: 60px !important;
        display: inline-flex;        
        font-size: 16px !important;
        margin-top: 10px !important;
        // background-color:khaki;
}
.result60Right{
        min-width: 60px !important;
        display: inline-block;        
        font-size: 16px !important;
        margin-top: 10px !important;
        // background-color:khaki;
        text-align: right !important;
}
.result60BoldRight{
        min-width: 60px !important;
        display: inline-block;        
        font-size: 16px !important;
        margin-top: 10px !important;
        // background-color:khaki;
        text-align: right !important;
        font-weight: 600;
}
.label70Bold{
        min-width: 70px !important;
        display: inline-flex;        
        font-size: 16px !important;
        font-weight: 600;
        margin-top: 10px !important;
        // background-color: lawngreen;
}
.labelAutoBold{
        width: auto !important; //265px
        display: inline-flex;        
        font-size: 16px !important;
        font-weight: 600;
        margin-top: 15px !important;
        margin-bottom:5px !important;
        // background-color: lemonchiffon;
}
.label133Bold{
        min-width: 133px !important; 
        display: inline-flex;        
        font-size: 16px !important;
        font-weight: 600;
        margin-top: 10px !important;
        margin-bottom:7px !important;
        // background-color:deepskyblue;
}

.label70{
        width: 70px !important;
        display: inline-flex;        
        font-size: 16px !important;
        // background-color: darkcyan;
}
.label133{
        width: 133px !important;
        display: inline-flex;        
        font-size: 16px !important;
        // background-color: forestgreen;
}
.label240{
        width: 240px !important;
        display: inline-flex;        
        font-size: 16px !important;
        // background-color:greenyellow;
}
// .label105{
//         width: 105px !important;
//         display: inline-flex;        
//         font-size: 14px !important;
//         // padding: 0px !important;
//         margin-top: 15px !important;
//         background-color: hotpink;
// }
.result128{
        display: inline-flex ;       
        min-width: 128px !important;
        font-size: 16px !important;    
        // padding: 0px !important;
        margin-right: 5px;
        // background-color:pink;
}
.result113Right{
        display: inline-block ;       
        min-width: 118px !important;
        font-size: 16px !important;    
        // padding: 0px !important;
        text-align: right !important;
        // background-color:rosybrown;
}
.result0{
        display: inline-flex;
        width: 0px ;       
}
.result85{
        display: inline-flex;
        width:25%;        
        min-width: 85px !important;
        font-size: 16px !important;
        // background-color:cadetblue;
}
// .result85Right{
//         display: inline-block;
//         width:25%;        
//         min-width: 85px !important;
//         font-size: 14px !important;
//         background-color:cadetblue;
//         text-align: right !important;
// }
.result80Right{
        display: inline-block;           
        min-width: 80px !important;
        font-size: 16px !important;
        // background-color:red;
        text-align: right !important;
}
.unit35Left{
        display: inline-block;
        min-width: 35px;
        font-size: 16px !important;
        // background-color:lightskyblue;
        text-align: left !important;
}
.unit35BoldLeft{
        display: inline-block;
        min-width: 35px;
        font-size: 16px !important;
        // background-color:lightskyblue;
        text-align: left !important;
        font-weight: 600;
}
.result{
    display: inline-flex;
    margin-top:15px !important;     
    font-size: 16px;
    font-weight: 600;
//     background-color:lightgreen;
}
}