<ion-item class="customcard">
    <div #mydiv>
        <ion-card style="height:100%;">
            <ion-row padding>
                <ion-col width-80>
                    <div align="left"><span class="sectionHeading"> {{test.name}} </span></div>
                </ion-col>
                <ion-col width-20>
                    <div align="right"><span class="teststatus">Status?</span></div>
                </ion-col>
            </ion-row>
            <table style="table-layout: fixed; background: red">
                <tr *ngFor="let row of test.rows">
                    <td 
                        *ngFor="let cell of row" 
                        [class]="cell.Style"
                        colspan="cell.colspan"
                        rowspan="cell.rowspan">
                            <span>{{ cell.Key }}</span>
                    </td>
                </tr>
            </table>

        </ion-card>
    </div>
</ion-item>