test-card{
    .sectionHeading{
     font-weight: 600;
     font-size: 16px;    
     }
    // .teststatus{
    //     font-size:20px;
    //     }
        
    .sectionLabel{
        display: inline-flex;
        min-width: 110px;
        padding-left:7px;
        font-size: 14px;
    }
    
    .spl{
        font-size: 25px;
    }
    //  .sectionLabel1{
    // min-width: 450px;
    // font-size: 18px;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // padding-bottom:  11px;
    // padding-left:5px;
    // }
    .sectionResult{
        display: inline-flex;
        width: 50%;
        min-width: 150px; 
        font-size: 14px;    
}
}