<ion-modal-view style="height:560px; ">
  <ion-header-bar >
    <div align="center" style="width:90%">
       <h3> Set Connection</h3>
    </div>
  </ion-header-bar>
  <ion-content>
    
    <ion-view view-title="Home">
      <ion-content class="padding">
      
      </ion-content>
    </ion-view>
  </script>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon-top tabs-positive">
      <a class="tab-item" href="#/tab/direct">
        <img src="img/directWhite.png" class="icon"></img>
        Antenna
      </a>
      <a class="tab-item" href="#/tab/antenna">
        <img src="img/antennaWhite.png" class="icon"></img>
        Direct
      </a>
      <a class="tab-item" href="#/tab/data">
        <img src="img/dataWhite.png" class="icon"></img>
        Data
      </a>
    </div>
  </ion-footer-bar>
</ion-modal-view>