<ion-view view-title="UAT OUT">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right ">
        <button class="button button-clear" ng-click=" ">
                <div style="padding-top:2px"><img src="img\sortfilter.png "></div>
          </button>
        <button class="button button-icon icon ion-android-wifi" ng-click=" "></button>
        <button class="button button-icon icon ion-archive" ng-click=" "></button>
        <button class="button button-icon icon ion-android-walk" ng-click="runTest() "></button>
        <button class="button button-icon icon ion-android-more-horizontal" ng-click="openMore($event)"></button>
    </ion-nav-buttons>
    <ion-content  style="background-color:whitesmoke">
        <div class="list card">
            <div style="align-content: stretch;margin-bottom:20px;">
                <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="uatOutTrajectoryChangeTest">PREVIOUS</button>
                <button class="button icon-right ion-chevron-right button-clear button-dark" ui-sref="uatOutStateVectorTest" style="float: right">NEXT</button>
            </div>
              <div style="margin-left:15px">
        <table class="detailpageTbmargin">
            <tr>
                <th class="detailheading" colspan="2" align="left">UAT Summary</th>
            </tr>
            <tr>
                <td class="detailLabel">AA ID:</td>
                <td class="detailResult">{{result.uatOutDetailSummary.address}}</td>
            </tr>
            <tr>
                <td class="detailLabel">Address Qualifier:</td>
                <td class="detailResult">{{result.uatOutDetailSummary.addressQualifier}}</td>
            </tr>
            <tr>
                <td class="detailLabel">Payload Type Codes:</td>
                <td class="detailResult">{{result.uatOutDetailSummary.payloadTypeCodes}}</td>
            </tr>           
        </table>
        <table class="detailpageTbmargin">
            <tr>
                <th class="detailheading" colspan="3" align="left">Element Summary Data</th>
            </tr>
            <tr>
                <td class="detailLabel">Latitude:</td>
                <td class="detailRFLinkResult">{{result.uatOutDetailSummary.latitude}}</td>
            </tr>
            <tr>
                <td class="detailLabel">Longitude:</td>
                <td class="detailRFLinkResult">{{result.uatOutDetailSummary.longitude}}</td>
            </tr>
            <tr>
                <td class="detailLabel">A/G State: {{result.uatOutDetailSummary.agState}}</td>
                <td class="detailRFLinkResult">N Vel: {{result.uatOutDetailSummary.nVel}}</td>
                <td class="detailResult">E Vel: {{result.uatOutDetailSummary.eVel}}</td>
            </tr>
            <tr>
                <td class="detailLabel">Emit Cat: {{result.uatOutDetailSummary.emitCat}}</td>
                <td class="detailRFLinkResult">ID: {{result.uatOutDetailSummary.id}}</td>
                <td class="detailResult">Emer: {{result.uatOutDetailSummary.emer}}</td>
            </tr>
            <tr>
                <td class="detailLabel">SIL: {{result.uatOutDetailSummary.sil}}</td>
                <td class="detailRFLinkResult">SIL-S: {{result.uatOutDetailSummary.silS}}</td>
                <td class="detailResult">NAC-P: {{result.uatOutDetailSummary.nacP}}</td>
            </tr>
            <tr>
                <td class="detailLabel">NAC-V: {{result.uatOutDetailSummary.nacV}}</td>
                <td class="detailRFLinkResult">NIC Baro: {{result.uatOutDetailSummary.nicBaro}}</td>
                 <td class="detailRFLinkResult">UAT In: {{result.uatOutDetailSummary.uatIn}}</td>
            </tr>
            <tr>
                <td class="detailLabel">1090ES In: </td>
                <td class="detailRFLinkResult">TCAS: {{result.uatOutDetailSummary.tcas}}</td>
                <td class="detailResult">TCAS RA: {{result.uatOutDetailSummary.tcasRA}}</td>
            </tr>
            <tr>
                <td class="detailLabel">Ident: {{result.uatOutDetailSummary.ident}}</td>
                <td class="detailRFLinkResult">ATC Serv: {{result.uatOutDetailSummary.atcServ}}</td>
                <td class="detailResult">CSID: {{result.uatOutDetailSummary.csid}}</td>
            </tr>
             <tr>
                <td class="detailLabel">GVA: {{result.uatOutDetailSummary.gva}}</td>
                <td class="detailRFLinkResult">ANT: {{result.uatOutDetailSummary.ant}}</td>
                <td class="detailResult">FB Code: {{result.uatOutDetailSummary.fbCode}}</td>
            </tr>
        </table>
         <table>
            <tr>
                <th class="detailheading" colspan="2" align="left">RF Link</th>
            </tr> 
            <tr>
                <td class="detailLabel1">Freq=</td>
                <td class="detailResult2">{{result.uatOutDetailSummary.freq}}</td>
                <td class="detailLabel3">Power=</td>
                <td class="detailResult4">{{result.uatOutDetailSummary.power}}</td>
            </tr>
            <tr>
                <td class="detailLabel1">GPS=</td>
                <td class="detailResult2">{{result.uatOutDetailSummary.gps}}</td>
                <td class="detailLabel3">RF Link Test=</td>
                <td class="detailResult4" style="color:green;">{{result.uatOutDetailSummary.rfLinkTest}}</td>
            </tr>
        </table>
              </div>
            </div></div>
    </ion-content>
</ion-view>