<ion-view view-title="UAT OUT">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title class="titlefont">UAT OUT</ion-nav-title>
    <ion-nav-buttons side="right ">
        <button class="button button-clear" ng-click=" ">
                <div style="padding-top:2px"><img src="img\sortfilter.png "></div>
          </button>
        <button class="button button-icon icon ion-android-wifi" ng-click="openConnection()"></button>
        <button class="button button-icon icon ion-archive" ng-click=" "></button>
        <button class="button button-icon icon ion-android-walk" ng-click="runTest() "></button>
        <button class="button button-icon icon ion-android-more-horizontal" ng-click="openMore($event)"></button>
    </ion-nav-buttons>
    <ion-content style="background-color:whitesmoke">
        <div class="customcard">
            <div style="align-content: stretch;margin-bottom:10px;">
                <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="uatTrajectoryChangeTest">PREVIOUS</button>
                <button class="button icon-right ion-chevron-right button-clear button-dark" ui-sref="uatStateVectorTestSubsonic" style="float: right">NEXT</button>
            </div>
            <div style="margin-left:15px">
                <table class="detailpageTbmargin">
                    <tr>
                        <th class="detailheading" colspan="2" align="left">UAT Summary</th>
                    </tr>
                    <tr>
                        <td class="detailLabel">AA ID:</td>
                        <td class="detailResult">{{uatDetailSummary.address}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Address Qualifier:</td>
                        <td class="detailResult">{{uatDetailSummary.addressQualifier}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Payload Type Codes:</td>
                        <td class="detailResult">{{uatDetailSummary.payloadTypeCodes}}</td>
                    </tr>
                </table>
                <table class="detailpageTbmargin">
                    <tr>
                        <th class="detailheading" colspan="3" align="left">Element Summary Data</th>
                    </tr>
                    <tr>
                        <td class="detailLabel">Latitude:</td>
                        <td class="detailRFLinkResult">{{uatDetailSummary.latitude}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Longitude:</td>
                        <td class="detailRFLinkResult">{{uatDetailSummary.longitude}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">A/G State: {{uatDetailSummary.agState}}</td>
                        <td class="detailRFLinkResult">N Vel: {{uatDetailSummary.nVel}}</td>
                        <td class="detailResult">E Vel: {{uatDetailSummary.eVel}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Emit Cat: {{uatDetailSummary.emitCat}}</td>
                        <td class="detailRFLinkResult">ID: {{uatDetailSummary.id}}</td>
                        <td class="detailResult">Emer: {{uatDetailSummary.emer}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">SIL: {{uatDetailSummary.sil}}</td>
                        <td class="detailRFLinkResult">SIL-S: {{uatDetailSummary.silS}}</td>
                        <td class="detailResult">NAC-P: {{uatDetailSummary.nacP}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">NAC-V: {{uatDetailSummary.nacV}}</td>
                        <td class="detailRFLinkResult">NIC Baro: {{uatDetailSummary.nicBaro}}</td>
                        <td class="detailRFLinkResult">UAT In: {{uatDetailSummary.uatIn}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">1090ES In: {{uatDetailSummary._1090esIn}}</td>
                        <td class="detailRFLinkResult">TCAS: {{uatDetailSummary.tcas}}</td>
                        <td class="detailResult">TCAS RA: {{uatDetailSummary.tcasRA}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Ident: {{uatDetailSummary.ident}}</td>
                        <td class="detailRFLinkResult">ATC Serv: {{uatDetailSummary.atcServ}}</td>
                        <td class="detailResult">CSID: {{uatDetailSummary.csid}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">GVA: {{uatDetailSummary.gva}}</td>
                        <td class="detailRFLinkResult">ANT: {{uatDetailSummary.ant}}</td>
                        <td class="detailResult">FB Code: {{uatDetailSummary.fbCode}}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th class="detailheading" colspan="2" align="left">RF Link</th>
                    </tr>
                    <tr>
                        <td class="detailLabel1">Freq=</td>
                        <td class="detailResult2">{{uatDetailSummary.freq}}</td>
                        <td class="detailLabel3">Power=</td>
                        <td class="detailResult4">{{uatDetailSummary.power}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel1">GPS=</td>
                        <td class="detailResult2">{{uatDetailSummary.gps}}</td>
                        <td class="detailLabel3">RF Link Test=</td>
                        <td class="detailResult4" style="color:green;">{{uatDetailSummary.rfLinkTest}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>