<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title class="titlefont">UAT OUT</ion-nav-title>
    <ion-nav-buttons side="right ">
        <button class="button button-clear" ng-click=" ">
                <div style="padding-top:2px"><img src="img\sortfilter.png "></div>
          </button>
        <button class="button button-icon icon ion-android-wifi" ng-click=" "></button>
        <button class="button button-icon icon ion-archive" ng-click=" "></button>
        <button class="button button-icon icon ion-android-walk" ng-disabled="IsRunEnable" ng-click="runTest() "></button>
        <button class="button button-icon icon ion-android-more-horizontal" ng-click="openMore($event)"></button>
    </ion-nav-buttons>
    <ion-content style="background-color:whitesmoke">
        <ion-list>
            <ion-item class="customcard" ng-init="l1='uatStateVectorTestSubsonic'" ng-click="onSingleClick(l1)" ng-class="{'cardselected':l1 == selectedRow}"
                on-double-tap="onDoubleClick(l1)">
                <p style="align-content: stretch ">
                    <span class="sectionHeading" style="float: left ">UAT State Vector Test</span>
                    <span style="float:right;">
                        <span class="teststatus">{{uatStateVectorTestSubsonic.rfLinkTest}}</span>
                    <button class="button-icon icon" ng-click="button.clicked=!button.clicked" ng-class="button.clicked?'ion-ios-star fav-checked':'ion-ios-star-outline fav-unchecked'"></button>
                    </span>
                </p>
                <table style="table-layout: fixed ">
                    <tr>
                        <td class="sectionLabel">Address: </td>
                        <td class="sectionResult">{{uatStateVectorTestSubsonic.address}}</td>
                        <td class="sectionLabel">Addr Qual: </td>
                        <td class="sectionResult">{{uatStateVectorTestSubsonic.addressQualifier}}</td>
                    </tr>
                    <tr>
                        <td class="sectionLabel">Payload: </td>
                        <td class="sectionResult">{{uatStateVectorTestSubsonic.payloadTypeCodes}}</td>
                        <td class="sectionLabel">A/G State: </td>
                        <td class="sectionResult">{{uatStateVectorTestSubsonic.agState}}</td>
                    </tr>
                    <tr>
                        <td class="sectionLabel">RF Link: </td>
                        <td class="sectionResult">{{uatStateVectorTestSubsonic.rfLinkTest}}</td>
                        <td class="sectionLabel">GPS: </td>
                        <td class="sectionResult">{{uatStateVectorTestSubsonic.gps}}</td>
                    </tr>
                </table>
            </ion-item>
            <ion-item class="customcard" ng-init="l2='uatModeStatusTest'" ng-click="onSingleClick(l2)" ng-class="{'cardselected':l2 == selectedRow}"
                on-double-tap="onDoubleClick(l2)">
                <p style="align-content: stretch ">
                    <span class="sectionHeading" style="float: left ">UAT Mode Status Test</span>
                    <span style="float:right;">
                        <span class="teststatus">{{uatModeStatusTest.rfLinkTest}}</span>
                    <button class="button-icon icon" ng-click="button.clicked=!button.clicked" ng-class="button.clicked?'ion-ios-star fav-checked':'ion-ios-star-outline fav-unchecked'"></button>
                    </span>
                </p>
                <div>
                    <table style="table-layout: fixed ">

                        <tr>
                            <td class="sectionLabel">Address: </td>
                            <td class="sectionResult">{{uatModeStatusTest.address}}</td>
                            <td class="sectionLabel">Addr Qual: </td>
                            <td class="sectionResult">{{uatModeStatusTest.addressQualifier}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">Payload: </td>
                            <td class="sectionResult">{{uatModeStatusTest.payloadTypeCodes}}</td>
                            <td class="sectionLabel">Flight ID: </td>
                            <td class="sectionResult">{{uatModeStatusTest.fightID}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">RF Link: </td>
                            <td class="sectionResult">{{uatModeStatusTest.rfLinkTest}}</td>
                            <td class="sectionLabel">GPS: </td>
                            <td class="sectionResult">{{uatModeStatusTest.gps}}</td>
                        </tr>
                    </table>
                </div>
            </ion-item>
            <ion-item class="customcard " ng-init="l3='uatTargetStateTest'" ng-click="onSingleClick(l3)" ng-class="{'cardselected':l3 == selectedRow}"
                on-double-tap="onDoubleClick(l3)">
                <p style="align-content: stretch ">
                    <span class="sectionHeading" style="float: left ">UAT Target State Test</span>
                    <span style="float:right;">
                        <span class="teststatus">{{uatTargetStateTest.rfLinkTest}}</span>
                    <button class="button-icon icon" ng-click="button.clicked=!button.clicked" ng-class="button.clicked?'ion-ios-star fav-checked':'ion-ios-star-outline fav-unchecked'"></button>
                    </span>
                </p>
                <div>
                    <table style="table-layout: fixed ">
                        <tr>
                            <td class="sectionLabel">Address: </td>
                            <td class="sectionResult">{{uatTargetStateTest.address}}</td>
                            <td class="sectionLabel">Addr Qual: </td>
                            <td class="sectionResult">{{uatTargetStateTest.addressQualifier}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">Payload: </td>
                            <td class="sectionResult">{{uatTargetStateTest.payloadTypeCodes}}</td>
                            <td class="sectionLabel">Sel Alt: </td>
                            <td class="sectionResult">{{uatTargetStateTest.selectedAltitude}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">RF Link: </td>
                            <td class="sectionResult">{{uatTargetStateTest.rfLinkTest}}</td>
                            <td class="sectionLabel">GPS: </td>
                            <td class="sectionResult">{{uatTargetStateTest.gps}}</td>
                        </tr>
                    </table>
                </div>
            </ion-item>
            <ion-item class="customcard" ng-init="l4='uatAUXStateVectorTest'" ng-click="onSingleClick(l4)" ng-class="{'cardselected':l4 == selectedRow}"
                on-double-tap="onDoubleClick(l4)">
                <p style="align-content: stretch ">
                    <span class="sectionHeading" style="float: left ">UAT AUX State Vector Test</span>
                    <span style="float:right;">
                        <span class="teststatus">{{uatAUXStateVectorTest.rfLinkTest}}</span>
                    <button class="button-icon icon" ng-click="button.clicked=!button.clicked" ng-class="button.clicked?'ion-ios-star fav-checked':'ion-ios-star-outline fav-unchecked'"></button>
                    </span>
                </p>
                <div>
                    <table style="table-layout: fixed ">
                        <tr>
                            <td class="sectionLabel">Address: </td>
                            <td class="sectionResult">{{uatAUXStateVectorTest.address}}</td>
                            <td class="sectionLabel">Addr Qual: </td>
                            <td class="sectionResult">{{uatAUXStateVectorTest.addressQualifier}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">Payload: </td>
                            <td class="sectionResult">{{uatAUXStateVectorTest.payloadTypeCodes}}</td>
                            <td class="sectionLabel">Alt Type: </td>
                            <td class="sectionResult">{{uatAUXStateVectorTest.altitudeType}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">RF Link: </td>
                            <td class="sectionResult">{{uatAUXStateVectorTest.rfLinkTest}}</td>
                            <td class="sectionLabel">GPS: </td>
                            <td class="sectionResult">{{uatAUXStateVectorTest.gps}}</td>
                        </tr>
                    </table>
                </div>
            </ion-item>
            <ion-item class="customcard" ng-init="l5='uatDetailRFLinkTest'" ng-click="onSingleClick(l5)" ng-class="{'cardselected':l5 == selectedRow}"
                on-double-tap="onDoubleClick(l5)">
                <p style="align-content: stretch ">
                    <span class="sectionHeading" style="float: left ">UAT RF Link Test</span>
                    <span style="float:right;">
                        <span class="teststatus">{{uatDetailRFLinkTest.rfLinkTest}}</span>
                    <button class="button-icon icon" ng-click="button.clicked=!button.clicked" ng-class="button.clicked?'ion-ios-star fav-checked':'ion-ios-star-outline fav-unchecked'"></button>
                    </span>
                </p>
                <div>
                    <table style="table-layout: fixed ">
                        <tr>
                            <td class="sectionLabel">Address: </td>
                            <td class="sectionResult">{{uatDetailRFLinkTest.address}}</td>
                            <td class="sectionLabel">Addr Qual: </td>
                            <td class="sectionResult">{{uatDetailRFLinkTest.addressQualifier}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">Payload: </td>
                            <td class="sectionResult">{{uatDetailRFLinkTest.payloadTypeCodes}}</td>
                            <td class="sectionLabel">Power: </td>
                            <td class="sectionResult">{{uatDetailRFLinkTest.txPower}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">Freq: </td>
                            <td class="sectionResult">{{uatDetailRFLinkTest.frequencyA}}</td>
                            <td class="sectionLabel">GPS: </td>
                            <td class="sectionResult">{{uatDetailRFLinkTest.gps}}</td>
                        </tr>
                    </table>
                </div>
            </ion-item>
            <ion-item class="customcard" ng-init="l6='uatTrajectoryChangeTest'" ng-click="onSingleClick(l6)" ng-class="{'cardselected':l6 == selectedRow}"
                on-double-tap="onDoubleClick(l6)">
                <p style="align-content: stretch ">
                    <span class="sectionHeading" style="float: left ">UAT Trajectory Change Test</span>
                    <span style="float:right;">
                        <span class="teststatus">{{uatTrajectoryChangeTest.rfLinkTest}}</span>
                    <button class="button-icon icon" ng-click="button.clicked=!button.clicked" ng-class="button.clicked?'ion-ios-star fav-checked':'ion-ios-star-outline fav-unchecked'"></button>
                    </span>
                </p>
                <div>
                    <table style="table-layout: fixed ">
                        <tr>
                            <td class="sectionLabel">Address: </td>
                            <td class="sectionResult">{{uatTrajectoryChangeTest.address}}</td>
                            <td class="sectionLabel">Addr Qual: </td>
                            <td class="sectionResult">{{uatTrajectoryChangeTest.addressQualifier}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">Payload: </td>
                            <td class="sectionResult">{{uatTrajectoryChangeTest.payloadTypeCodes}}</td>
                            <td class="sectionLabel">TC: </td>
                            <td class="sectionResult">{{uatTrajectoryChangeTest.tcField}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">RF Link: </td>
                            <td class="sectionResult">{{uatTrajectoryChangeTest.rfLinkTest}}</td>
                            <td class="sectionLabel">GPS: </td>
                            <td class="sectionResult">{{uatTrajectoryChangeTest.gps}}</td>
                        </tr>
                    </table>
                </div>
            </ion-item>
            <ion-item class="customcard" ng-init="l7='uatDetailSummary'" ng-click="onSingleClick(l7)" ng-class="{'cardselected':l7 == selectedRow}"
                on-double-tap="onDoubleClick(l7)">
                <p style="align-content: stretch ">
                    <span class="sectionHeading" style="float: left ">UAT Summary</span>
                    <span style="float:right;">
                        <span class="teststatus">{{uatDetailSummary.rfLinkTest}}</span>
                    <button class="button-icon icon" ng-click="button.clicked=!button.clicked" ng-class="button.clicked?'ion-ios-star fav-checked':'ion-ios-star-outline fav-unchecked'"></button>
                    </span>
                </p>
                <div>
                    <table style="table-layout: fixed ">
                        <tr>
                            <td class="sectionLabel">Address: </td>
                            <td class="sectionResult">{{uatDetailSummary.address}}</td>
                            <td class="sectionLabel">Addr Qual: </td>
                            <td class="sectionResult">{{uatDetailSummary.addressQualifier}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">Payload: </td>
                            <td class="sectionResult">{{uatDetailSummary.payloadTypeCodes}}</td>
                            <td class="sectionLabel">A/G State: </td>
                            <td class="sectionResult">{{uatDetailSummary.agState}}</td>
                        </tr>
                        <tr>
                            <td class="sectionLabel">RF Link: </td>
                            <td class="sectionResult">{{uatDetailSummary.rfLinkTest}}</td>
                            <td class="sectionLabel">GPS: </td>
                            <td class="sectionResult">{{uatDetailSummary.gps}}</td>
                        </tr>
                    </table>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>