<div style="position: absolute;top: 40px;bottom: 0;left: 0;right: 0;" text-left>
    <ion-grid style="height: 100%;">
        <ion-row style="height: auto;">
             <ion-col no-padding style="width: auto;flex: 0 0 auto;">
                 <button ion-button icon-only clear (click)="selectAv()">
                     <ion-icon *ngIf="!isTargetposAvailable" name="locate"></ion-icon>
                     <ion-icon *ngIf="isTargetposAvailable" name="list-box"></ion-icon>
                     </button>
             </ion-col>
             <ion-col text-center text-nowrap style="overflow: hidden;text-overflow: ellipsis;"></ion-col>
             <ion-col no-padding style="width: auto;flex: 0 0 auto;">
                  <button ion-button icon-only clear (click)="navigate('close')"><ion-icon name="close"></ion-icon></button>
             </ion-col>
         </ion-row>

         <ion-scroll scrollY="true" style="height:100%;width:100%;">
         
         <div *ngIf="!isTargetposAvailable">
         <ion-card (click)="onVehicleClick('1')" [class.selectedvehicle]="selectedVehicleIndex == 1">   
            <ion-item style="background-color: rgba(0,0,0,0.05);" >
                <ion-row>
                    <ion-col style="width:100%">
                        <span class="sectionHeading"> Aircraft / Vehicle #1: </span>
                    </ion-col>
                </ion-row>
                <table style="width:100%;">
                    <tr>
                        <td class="sectionLabel">ADDRESS: </td>
                        <td class="sectionResult" colspan="3"> </td>
                    </tr>
                     <tr>
                        <td class="sectionLabel">Qualifier: </td>
                        <td class="sectionResult" colspan="3"> </td>
                    </tr>
                    <tr>
                        <td class="sectionLabel">Pay load: </td>
                        <td class="sectionResult">  </td>
                        <td class="sectionLabel">RF Level: </td>
                        <td class="sectionResult"> </td>
                    </tr>
                </table>
            </ion-item>
        </ion-card>
         <ion-card (click)="onVehicleClick('2')" [class.selectedvehicle]="selectedVehicleIndex == 2">   
            <ion-item style="background-color: rgba(0,0,0,0.05);">
                <ion-row>
                    <ion-col style="width:100%">
                        <span class="sectionHeading"> Aircraft / Vehicle #2: </span>
                    </ion-col>
                </ion-row>
                <table style="width:100%;">
                    <tr>
                        <td class="sectionLabel">ADDRESS: </td>
                        <td class="sectionResult" colspan="3"> </td>
                    </tr>
                     <tr>
                        <td class="sectionLabel">Qualifier: </td>
                        <td class="sectionResult" colspan="3"> </td>
                    </tr>
                    <tr>
                        <td class="sectionLabel">Pay load: </td>
                        <td class="sectionResult">  </td>
                        <td class="sectionLabel">RF Level: </td>
                        <td class="sectionResult"> </td>
                    </tr>
                </table>
            </ion-item>
        </ion-card>
         <ion-card (click)="onVehicleClick('3')" [class.selectedvehicle]="selectedVehicleIndex == 3">   
            <ion-item style="background-color: rgba(0,0,0,0.05);">
                <ion-row>
                    <ion-col style="width:100%">
                        <span class="sectionHeading"> Aircraft / Vehicle #3: </span>
                    </ion-col>
                </ion-row>
                <table style="width:100%;">
                    <tr>
                        <td class="sectionLabel">ADDRESS: </td>
                        <td class="sectionResult" colspan="3"> </td>
                    </tr>
                     <tr>
                        <td class="sectionLabel">Qualifier: </td>
                        <td class="sectionResult" colspan="3"> </td>
                    </tr>
                    <tr>
                        <td class="sectionLabel">Pay load: </td>
                        <td class="sectionResult">  </td>
                        <td class="sectionLabel">RF Level: </td>
                        <td class="sectionResult"> </td>
                    </tr>
                </table>
            </ion-item>
        </ion-card>
         <ion-card (click)="onVehicleClick('4')" [class.selectedvehicle]="selectedVehicleIndex == 4">   
            <ion-item style="background-color: rgba(0,0,0,0.05);">
                <ion-row>
                    <ion-col style="width:100%">
                        <span class="sectionHeading"> Aircraft / Vehicle #4: </span>
                    </ion-col>
                </ion-row>
                <table style="width:100%;">
                    <tr>
                        <td class="sectionLabel">ADDRESS: </td>
                        <td class="sectionResult" colspan="3"> </td>
                    </tr>
                     <tr>
                        <td class="sectionLabel">Qualifier: </td>
                        <td class="sectionResult" colspan="3"> </td>
                    </tr>
                    <tr>
                        <td class="sectionLabel">Pay load: </td>
                        <td class="sectionResult">  </td>
                        <td class="sectionLabel">RF Level: </td>
                        <td class="sectionResult"> </td>
                    </tr>
                </table>
            </ion-item>
        </ion-card>
         </div>

         <div *ngIf="isTargetposAvailable" align="center">
                    <svg viewBox="0 0 1450 1250" [style.width]="isPortrait ? '100%' : '45%' " (window:resize)="onResize($event)">
                        <text x="1200" y="200" font-size="36" font-weight="600" >Scale: 1 NM</text>
                        <text x="700" y="90" font-size="36">0 deg</text>
                        <text x="670" y="1190" font-size="36" >180 deg</text>
                        <text x="1300" y="635" font-size="36">90 deg</text>
                        <text x="40" y="635" font-size="36" >270 deg</text>

                        <svg viewBox="0 0 1050 1050" x="200"  y="100" width="1050" height="1050">
                            <circle *ngFor="let obj of circleobjs" [attr.cx]="obj.cx" [attr.cy]="obj.cy" [attr.r]="obj.r" stroke-width="3" stroke-dasharray="10 5" fill-opacity="0" />
                            
                            <svg *ngFor="let object of objects" [attr.x]="getX(object.latitude, object.longitude)" [attr.y]="getY(object.latitude, object.longitude)" height="30" width="30">
                                <polygon points="15 0, 30 15, 15 30,0 15, 15 0" />
                            </svg>
                            <text *ngFor="let object of objects" [attr.x]="getX(object.latitude, object.longitude)-30" [attr.y]="getY(object.latitude, object.longitude)-5" font-size="32" width="30" height="30">{{object.name}}</text>
                        </svg>
                    </svg>
         </div>
         </ion-scroll>

         <ion-fab margin bottom right>
              <button ion-fab (click)="onRun()">
                 <ion-icon name="play" *ngIf="!isRunnig" style="margin-left:3px;"></ion-icon>
                 <ion-icon name="square" *ngIf="isRunnig"></ion-icon>
              </button>
         </ion-fab>
     </ion-grid>
 </div>