<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/indexController.js"></script>
  <script src="views/morePopover/morePopoverController.js"></script>
  <script src="views/modal/help/helpController.js"></script>
  <script src="views/modal/setup/setupController.js"></script>
  <script src="views/uatAuxStateVectorTest/uatAuxStateVectorTestController.js"></script>
  <script src="views/uatModeStatusTest/uatModeStatusTestController.js"></script>
  <script src="views/uatOutSection/uatOutSectionController.js"></script>
  <script src="views/uatRFLinkTest/uatRFLinkTestController.js"></script>
  <script src="views/uatStateVectorTest/uatStateVectorTestController.js"></script>
  <script src="views/uatSummary/uatSummaryController.js"></script>
  <script src="views/uatTargetStateTest/uatTargetStateTestController.js"></script>
  <script src="views/uatTrajectoryChangeTest/uatTrajectoryChangeTestController.js"></script>
</head>

<body ng-app="App">
  <ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive" align-title="left">
      </ion-nav-bar>
      <ion-nav-view>

        <!--<ion-header-bar align-title="left" class="bar-positive">
          <div class="buttons">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
          </div>
          <h1 class="title">UAT OUT</h1>
          <div class="buttons">
            <button class="button button-clear" ng-click=" ">
                <div style="padding-top:2px"><img src="img\sortfilter.png "></div>
          </button>
            <button class="button button-icon icon ion-android-wifi" ng-click=" "></button>
            <button class="button button-icon icon ion-archive" ng-click=" "></button>
            <button class="button button-icon icon ion-android-walk" ng-click="runTest()"></button>
            <button class="button button-icon icon ion-android-more-horizontal" ng-click="openMore($event)"></button>
          </div>
        </ion-header-bar>-->

        <ion-footer-bar class="bar-stable" style="height:50px">
          <div class="buttons Subfooter1">
            <button class="button icon-left ion-person">&nbsp;Login</button>
          </div>
          <h4 class="title">Test Set 1</h4>
          <div class=" tabs tabs-icon-top tabs-border" style="width:160px;right:0px;">
            <a class="tab-item">
              <div><img src="img/direct.png" class="icon ion-home" style="height:28px;width:28px;margin-top:2px;margin-bottom:2px"></div>
              Direct
            </a>
            <a class="tab-item">
              <i class="icon ion-battery-full"></i> Battery
            </a>
            <a class="tab-item">
              <i class="icon ion-wifi"></i> Wifi
            </a>
          </div>

          <!--<div class="buttons" style="width:150px;">
            <div style="width:50px">
              <img src="img/direct.png" class="Subfooter3align" style="height:23px;width:23px;margin-left:8px;margin-bottom:2px;">
              <span class="Subfooter3imgtitle">Direct</span>
            </div>
            <div style="width:50px">
              <span class="ion-battery-full Subfooter3align" style="font-size:23px; margin-left:9px;">
             <span class="Subfooter3imgtitle">Battery</span>
              </span>
            </div>
            <div style="width:50px">
              <span class="ion-wifi Subfooter3align" style="font-size:23px;">
              <span class="Subfooter3imgtitle">Wifi</span>
              </span>
            </div>
          </div>-->
        </ion-footer-bar>
      </ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
      <ion-content>
        <div class="list" style="margin-top:20px;">
          <div>
            <div class="item item-divider">Start</div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Favorites</a><span style="float: right">2</span>
            </div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Scheduled</a><span style="float: right">0</span>
            </div>
          </div>
          <div>
            <div class="item item-divider">Auto Test Sequences</div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Transponder Check</a><span style="float: right">1</span>
            </div>
          </div>
          <div>
            <div class="item item-divider">Individual Tests</div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>ADS-B</a><span style="float: right">9</span>
            </div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Mode S</a><span style="float: right">1</span>
            </div>
            <div class="item transaction-item" style="text-indent: 10px;" ui-sref="uatOutSection" menu-close="">
              <a>UAT OUT</a><span style="float: right">7</span>
            </div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>UAT IN</a><span style="float: right">3</span>
            </div>
          </div>
          <div>
            <div class="item item-divider">Simulations</div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Flightplans</a><span style="float: right">1</span>
            </div>
          </div>
          <div>
            <div class="item item-divider">NAV</div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>ILS</a><span style="float: right">4</span>
            </div>
          </div>
          <div>
            <div class="item item-divider">Search</div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Keyword Search</a><span style="float: right">12</span>
            </div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Saved Searches</a><span style="float: right">0</span>
            </div>
          </div>
          <div>
            <div class="item item-divider">System</div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Setup</a><span style="float: right">9</span>
            </div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>About</a><span style="float: right">2</span>
            </div>
            <div class="item transaction-item" style="text-indent: 10px;">
              <a>Notifications</a><span style="float: right">4</span>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</body>

</html>