.dark-theme {
  .toolbar-title{ color: $dark-foreground; }
  ion-col{
    color: $dark-foreground;
      label{ color:lawngreen; }
  }
  .toolbar-background{ background-color: $dark-primary; }
  ion-content{ background-color: $dark-background; }
  ion-list{
    .item{ background-color: $dark-primary; }
  }
  ion-item{ color: $dark-foreground;background-color: $dark-primary; }

  pop-menu-item{
    .item{ color: $dark-foreground; background-color: $dark-primary;}
    }
    
  ion-item-group{color: $dark-foreground}

  ion-toolbar{
    button{ color: $dark-foreground;}
  }
   button{ color: $dark-foreground; }
  i{ color: $dark-foreground; }
  ion-card{
    .item{ background-color: darken($dark-primary, 1.5%); color: $dark-foreground; }
    ion-row{ 
      ion-col{
        h1{ color: $dark-foreground;}
      }
    }
  }
  ion-card{ background-color: darken($dark-primary, 1.5%);color: $dark-foreground; }
  ion-grid{
    .item{ background-color: $dark-background; }
    }
   
}