.outdoor-theme {
  .toolbar-title{ color: $dark-foreground;background-color: $dark-primary; }
  ion-header{
    .toolbar-background{ background-color: $dark-primary; }
  }
  ion-footer{
    .toolbar-background{ background-color: lighten($dark-primary,10%); }
  }

  ion-toolbar{
    button{ color: $white;}
  }
  
  ion-content{ background-color: $dark-background; }  
  ion-list{
    .item{ background-color: $dark-primary; }
  }
  
  ion-item{ color: $dark-foreground;background-color: $dark-primary; 
            p { color: $dark-foreground; }
  }

  ion-label{ color: $dark-foreground; }

  ion-icon{ color: $dark-foreground; }

  button{ color: $dark-foreground; }
  i{ color: $dark-foreground; }
  modal-ionitem-comp{
    .item{ color: $dark-foreground; background-color: $dark-primary;}
    }
    
  ion-item-group{ color: $dark-foreground; }


 ion-card{
    background-color: darken($dark-primary, 1.5%);color: $dark-foreground;
    .item{ background-color: darken($dark-primary, 1.5%); color: $dark-foreground; }
    ion-row{ 
      ion-col{
        h1{ color: $dark-foreground;}
      }
    }
  }

  .background{ background-color: $dark-background; }
  .selectedcard{ border: 1.5px solid $dark-foreground;}
  
  .bullet-current{ background-color:$dark-foreground; }
  .bullet-normal{ background-color:lighten($dark-background, 1.5%)}

  div{
    color: $dark-foreground;
    svg{
      circle{ stroke: $dark-foreground; }
      polygon{ fill: $dark-foreground; color: $dark-foreground; }
      text{ fill: $dark-foreground; }
      text{ fill: $dark-foreground; }
    }    
  }
  .selectedvehicle{ border: 1px solid #fff; } 

.battery-fill1{ stop-color: rgb(255,255,255);stop-opacity: 1; }
.battery-fill2{ stop-color: rgba(255,255,255,0.2);stop-opacity: 1; }

.rtVswrbtnChecked{color: $dark-foreground; background-color: lighten($dark-primary,4%);}
.rtVswrbtnUnchecked{color: $dark-foreground;background-color: lighten($dark-primary,10%); }
.meterFtbtn{
    color: $dark-foreground;background-color: lighten($dark-primary,10%);
 }
 .aviationControlscard{
   color: $dark-foreground; background-color: lighten($dark-primary,10%);
 }
ion-card{
  .item{
    color: $dark-foreground; background-color: lighten($dark-primary,10%);
    ion-label{color: $dark-foreground;}
  }
}
.aviCalbtn{color: $dark-foreground; background-color: lighten($dark-primary,10%);}
}