.light-theme {
  h1, h2, h3, h4, h5, h6,
  .toolbar-title {
    color: $light-foreground;
  }
  ion-col{
      label{
        color:green;
      }
  }
  .toolbar-background {
    background-color: $light-primary;
  }
   ion-item-group{
       background-color: darken($light-background, 1.5%);
  }
  ion-content {
    background-color: #f4f4f4
  }
  ion-list {
    .item {
      background-color: darken($light-background, 1.5%);
    }
  }
  ion-item{
    color: $light-foreground;
  }
  button{
    color: $light-background;
  }
  i{
    color: $light-background;
  }
  ion-card {
    background-color: $light-background;
    color: $light-foreground;
  }
}