.dark-theme {
  h1, h2, h3, h4, h5, h6,
  .toolbar-title {
    color: $dark-foreground;
  }
  .toolbar-background {
    background-color: $dark-primary;
  }
  ion-item-group{
      background-color: $dark-primary;
  }
  ion-content {
    background-color: $dark-background;
  }
  ion-list {
    .item {
      background-color: $dark-primary;
    }
  }
  ion-item{
    color: $dark-foreground;
    background-color: $dark-primary;
  }
  button{
    color: $dark-foreground;
  }
  i{
    color: $dark-foreground;
  }
  ion-card {
    .item {
      background-color: darken($dark-primary, 1.5%);
      color: $dark-foreground;
    }
  }
  ion-card {
     background-color: darken($dark-primary, 1.5%);
      color: $dark-foreground;
  }
}