detail-radar {

    .label{
                display: inline-flex;
                font-size: 16px !important;
                padding: 2px 0 2px 10px;
        }
                
        .label2{
                display: inline-flex;
                width: 50%;
                min-width: 180px;
                font-size: 16px;
                padding: 2px 0 2px 10px;
        }
}
