detail-vehicles {
    .sectionHeading{
     font-weight: 600;
     font-size: 16px;    
     }        
    .sectionLabel{
        display: inline-flex;
        min-width: 110px;
        padding-left:7px;
        font-size: 16px;
    }
    .sectionResult{
        display: inline-flex;
        width: 25%;
        min-width: 120px; 
        font-size: 16px;  
}

.selectedvehicle{
    border: 1px solid color($colors, primary);
}
}
