<ion-view view-title="UAT OUT">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right ">
        <button class="button button-clear" ng-click=" ">
                <div style="padding-top:2px"><img src="img\sortfilter.png "></div>
          </button>
        <button class="button button-icon icon ion-android-wifi" ng-click=" "></button>
        <button class="button button-icon icon ion-archive" ng-click=" "></button>
        <button class="button button-icon icon ion-android-walk" ng-click="runTest() "></button>
        <button class="button button-icon icon ion-android-more-horizontal" ng-click="openMore($event)"></button>
    </ion-nav-buttons>
    <ion-content style="background-color:whitesmoke">
        <div class="list card">
            <div style="align-content: stretch;margin-bottom:10px;">
                <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="uatStateVectorTest">PREVIOUS</button>
                <button class="button icon-right ion-chevron-right button-clear button-dark" ui-sref="uatTargetStateTest" style="float: right">NEXT</button>
            </div>
            <div style="margin-left:15px">
                <table class="detailpageTbmargin">
                    <tr>
                        <th class="detailheading" colspan="2" align="left">UAT Mode Status</th>
                    </tr>
                    <tr>
                        <td class="detailLabel">AA ID:</td>
                        <td class="detailResult">{{uatModeStatusTest.address}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Address Qualifier:</td>
                        <td class="detailResult">{{uatModeStatusTest.addressQualifier}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Payload Type Codes:</td>
                        <td class="detailResult">{{uatModeStatusTest.payloadTypeCodes}}</td>
                    </tr>
                </table>
                <table class="detailpageTbmargin">
                    <tr>
                        <th class="detailheading" colspan="2" align="left">Mode Status Element</th>
                    </tr>
                    <tr>
                        <td class="detailLabel">Emitter Status:</td>
                        <td class="detailResult">{{uatModeStatusTest.emitterCat}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Flight Id:</td>
                        <td class="detailResult">{{uatModeStatusTest.fightID}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">Emer/Prty Status:</td>
                        <td class="detailResult">{{uatModeStatusTest.epStatus}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel">
                            <span>SIL: </span>
                            <span>{{uatModeStatusTest.sil}}</span>
                        </td>
                        <td class="detailResult">
                            <span>SIL Sup:</span>
                            <span>{{uatModeStatusTest.silSup}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailLabel">
                            <span>NAC-P:</span>
                            <span>{{uatModeStatusTest.nacP}}</span>
                        </td>
                        <td class="detailResult">
                            <span>NAC-V:</span>
                            <span>{{uatModeStatusTest.nacV}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailLabel">
                            <span>NIC Baro Code:</span>
                            <span>{{uatModeStatusTest.nicBaroCode}}</span>
                        </td>
                        <td class="detailResult">
                            <span>UAT In:</span>
                            <span>{{uatModeStatusTest.uatIn}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailLabel">
                            <span>1090ES In:</span>
                            <span></span>
                        </td>
                        <td class="detailResult">
                            <span>TCAS:</span>
                            <span>{{uatModeStatusTest.tcas}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailLabel">
                            <span>TCAS RA:</span>
                            <span>{{uatModeStatusTest.tcasRA}}</span>
                        </td>
                        <td class="detailResult">
                            <span>Ident:</span>
                            <span>{{uatModeStatusTest.ident}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailLabel">
                            <span>ATC Serve:</span>
                            <span>{{uatModeStatusTest.atcServe}}</span>
                        </td>
                        <td class="detailResult">
                            <span>CSID:</span>
                            <span>{{uatModeStatusTest.csid}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailLabel">
                            <span>GVA:</span>
                            <span>{{uatModeStatusTest.gva}}</span>
                        </td>
                        <td class="detailResult">
                            <span>ANT:</span>
                            <span>{{uatModeStatusTest.ant}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailLabel">
                            <span>FB Code:</span>
                            <span>{{uatModeStatusTest.fbCode}}</span>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th class="detailheading" colspan="2" align="left">RF Link</th>
                    </tr>
                    <tr>
                        <td class="detailLabel1">Freq=</td>
                        <td class="detailResult2">{{uatModeStatusTest.freq}}</td>
                        <td class="detailLabel3">Power=</td>
                        <td class="detailResult4">{{uatModeStatusTest.power}}</td>
                    </tr>
                    <tr>
                        <td class="detailLabel1">GPS=</td>
                        <td class="detailResult2">{{uatModeStatusTest.gps}}</td>
                        <td class="detailLabel3">RF Link Test=</td>
                        <td class="detailResult4" style="color:green;">{{uatModeStatusTest.rfLinkTest}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>