test-detail{    
    
.detailheading1{
        font-size: 21px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline-block;
        font-weight: 600;
}
.detailLabel{
        width: 128px !important;
        display: inline-flex;        
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.detailLabel1{
        width: 200px !important;
        display: inline-flex;        
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detailLabel2{
        width: 90px !important;
        display: inline-flex;        
        font-size: 21px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detailLabel3{
        width: 190px !important;
        display: inline-flex;        
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detailLabel4{
        width: 236px !important;
        display: inline-flex;        
        font-size: 21px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detailResult{
        display: inline-flex ;
        max-width: 400px !important;
        min-width: 130px !important;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
}
.detailResult2{
        display: inline-flex;
        width: 50%;
        min-width: 220px !important;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 10px;
}
.detailResult1{
        display: inline-flex;
        width: 0px;
}
.detailUnit{
        display: inline-flex;
        min-width: 50px;
}
}