<ion-card>
    <ion-item>
        <ion-row>
            <ion-col style="width:100%">
                <span class="detailheading1"> {{test.name}} </span>
            </ion-col>
            <ion-col style="width:auto;flex:0 0 auto">
                <label class="teststatus">Status?</label>
            </ion-col>
        </ion-row>
        <table style="table-layout: fixed;margin-left:8px ">
            <tr *ngFor="let row of test.rows">
                <td *ngFor="let cell of row" [attr.colspan]="cell.colspan" [attr.rowspan]="cell.rowspan">
                    <span [class]="cell.keyStyle">{{ cell.key }}</span>
                    <span [class]="cell.valueStyle">{{ cell.value }}</span>
                </td>
            </tr>
        </table>
        <ion-row>
            <ion-col no-padding bottom style="width: 100%;">
                <button ion-button clear> < Previous </button>
            </ion-col>
            <ion-col center style="width: auto;flex: 0 0 auto;">
                <button ion-fab><ion-icon name="play"></ion-icon></button>
            </ion-col>
            <ion-col no-padding bottom text-right style="width: 100%;">
                <button ion-button clear> Next > </button>
            </ion-col>
        </ion-row>
    </ion-item>
</ion-card>