<ion-card style="height:97%;" text-left>
        <ion-grid style="height: 100%;">

            <ion-row style="height:auto;">
                <ion-col center style="width: auto;flex: 0 0 auto;">
                    <button ion-button icon-only outline><ion-icon name="list"></ion-icon></button>
                </ion-col>
            <ion-col text-center>
                <span class="detailheading1"> {{test.name}} </span>
            </ion-col>
            <ion-col center style="width: auto;flex: 0 0 auto;">
                <button ion-button icon-only outline><ion-icon name="close"></ion-icon></button>
            </ion-col>
        </ion-row>

            <ion-row style="height: 100%;">
                <ion-col>
                    <ion-scroll scrollY="true" style="height:100%;width:100%;">
                        <table style="table-layout: fixed;margin-left:8px; ">
                            <tr *ngFor="let row of test.rows">
                                <td *ngFor="let cell of row" [attr.colspan]="cell.colspan" [attr.rowspan]="cell.rowspan">
                                    <span [class]="cell.keyStyle">{{ cell.key }}</span>
                                    <span [class]="cell.valueStyle">{{ cell.value }}</span>
                                    </td>
                                    </tr>
                                    </table>
                    </ion-scroll>
                </ion-col>
            </ion-row>

            <ion-row style="height: auto;">
                <ion-row style="height:auto;flex: 0 0 auto;">
            <ion-col no-padding bottom style="width: 100%;">
                <button ion-button clear (click)="navigate('previous')"><b>< Previous</b> </button>
            </ion-col>
            <ion-col center style="width: auto;flex: 0 0 auto;">
                <button ion-button outline large style="height:50px;width:50px; border-radius: 25px;border-width: 2px;"><ion-icon style="margin-left: 2px;" name="play"></ion-icon></button>
            </ion-col>
            <ion-col no-padding bottom text-right style="width: 100%;">
                <button ion-button clear (click)="navigate('next')"><b> Next ></b></button>
            </ion-col>
        </ion-row>
            </ion-row>

        </ion-grid>
</ion-card>
