test-detail{    
    .detailheading{
        margin-bottom: 15px;   
        font-size: 21px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom:  18px;
    }
}