<div [class]="chosenTheme.className">
    <div class="background">
        <div class="items-container">
            <div class="item1" text-center>
                <ion-label style="font-weight: 600;">{{'OPERATOR' | translate}}</ion-label>
                <ion-row>
                    <ion-col no-padding></ion-col>
                    <ion-col no-padding>
                        <ion-item no-lines no-margin no-padding style="background: transparent;">
                            <ion-select style="max-width: 100%" placeholder="None selected" [selectOptions]="userSelectOptions" [(ngModel)]="selectedUser"
                                (ionChange)="onUserChanged($event)">
                                <ion-option *ngFor="let user of availableUsers" [value]="user">{{user.name}}</ion-option>
                                </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col no-padding></ion-col>
                </ion-row>
            </div>
            <div class="item1" text-center (click)="onSwitchTheme()">
                <ion-label style="font-weight: 600;">{{'THEME' | translate}}</ion-label>
                <ion-icon style="font-size: 24px;" name='sunny'></ion-icon>
                <ion-label>{{chosenTheme.themeName | translate}}</ion-label>
            </div>
            <div class="item1" text-center>
                <ion-label style="font-weight: 600;">{{'LANGUAGE' | translate}}</ion-label>
                <ion-row>
                    <ion-col no-padding></ion-col>
                    <ion-col no-padding>
                        <ion-item no-lines no-margin no-padding style="background: transparent;">
                            <ion-select style="max-width: 100%" placeholder="None selected" [selectOptions]="languageSelectOptions" [(ngModel)]="currentLanguage"
                                (ionChange)="onLanguageChanged($event)">
                                <ion-option *ngFor="let language of availableLanguages" [value]="language">{{language.title}}</ion-option>
                                </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col no-padding></ion-col>
                </ion-row>
            </div>
            <div class="item1" text-center>
                <ion-label style="font-weight: 600;">{{'REMOTE CONNECT' | translate}}</ion-label>
                <ion-icon style="font-size: 24px;" name="wifi"></ion-icon>
                <ion-row>
                    <ion-col no-padding></ion-col>
                    <ion-col no-padding>
                        <ion-item no-lines no-margin no-padding style="background: transparent;">
                            <ion-select no-padding padding-horizontal style="max-width:100%;" placeholder="None selected" [(ngModel)]="connectedDevice"
                                [selectOptions]="deviceSelectOptions" (ionChange)="onDeviceChanged($event)">
                                <ion-option *ngFor="let device of availableDevices" [value]="device">{{device.name}}</ion-option>
                                </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col no-padding></ion-col>
                </ion-row>
            </div>
            <div class="item1" text-center *ngIf="sectionBAvailable">
                <ion-label style="font-weight: 600;">{{'TEST SET ICAO ADDRESS' | translate}}</ion-label>
                <ion-row>
                    <ion-col no-padding></ion-col>
                    <ion-col no-padding>
                        <ion-item no-lines no-margin no-padding style="background: transparent;">
                            <ion-select ngModel="AC82EC" style="max-width: 100%">
                                <ion-option value="AC82EC">AC82EC</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col no-padding></ion-col>
                </ion-row>
            </div>
            <div class="item1" text-center *ngIf="sectionBAvailable">
                <ion-label style="font-weight: 600;">{{'UUT DEVICE CLASS' | translate}}</ion-label>
                <ion-label>CLASS A</ion-label>
            </div>
            <div class="item1" text-center *ngIf="sectionBAvailable">
                <ion-label style="font-weight: 600;">{{'UUT ANTENNA' | translate}}</ion-label>
                <button ion-button clear icon-only no-margin color="dark">
                <ion-icon name='arrow-round-up'></ion-icon>
            </button>
                <ion-label>{{'Top' | translate}}</ion-label>
            </div>
            <div class="item1" text-center *ngIf="sectionBAvailable">
                <ion-label style="font-weight: 600;">{{'TEST SET CONNECTION' | translate}}</ion-label>
                <ion-icon style="font-size: 24px;" name="reorder"></ion-icon>
                <ion-row>
                    <ion-col no-padding></ion-col>
                    <ion-col no-padding>
                        <ion-item no-lines no-margin no-padding style="background: transparent;">
                            <ion-select ngModel="Port A Antenna" style="max-width: 100%">
                                <ion-option value="Port A Antenna">Port A Antenna</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col no-padding></ion-col>
                </ion-row>
            </div>
            <div class="item1" text-center *ngIf="sectionBAvailable">
                <ion-label style="font-weight: 600;">{{'DISTANCE To UUT' | translate}}</ion-label>
                <ion-label>{{distanceValue}} Ft</ion-label>
                <ion-range style="height: 20px" min="10" max="250" [(ngModel)]="distanceValue"></ion-range>
                <ion-row>
                    <ion-col no-padding text-left>
                        <ion-label no-margin>10 Ft</ion-label>
                    </ion-col>
                    <ion-col no-padding style="width: auto;flex: 0 0 auto;">
                        <ion-label no-margin>250 Ft</ion-label>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</div>