page-configurations {
    .items-container {
	display: flex;
	flex-wrap: wrap;
}
.items-container .item1 {
	flex: 1 0 50%;
  box-sizing: border-box;
  padding: 5px;
  height: 120px;
  border: 1px solid lightgray;
  overflow: hidden;
  text-overflow: ellipsis;
}
}
