<!--<ion-list [class]="chosenTheme">
    <ion-item no-lines>
        <ion-label>DEVICE CLASS</ion-label>
        <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item no-lines>
        <ion-label>ANTENNA</ion-label>
        <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item no-lines>
        <ion-label>CONNECTION</ion-label>
        <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item no-lines>
        <ion-label>FLIGHTLINE MODE</ion-label>
        <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item no-lines>
        <ion-label item-left>DISTANCE: {{distanceValue}} FT</ion-label>
        <ion-row  item-right>
            <ion-col no-padding>
                <ion-row>
                    <ion-range style="padding:0;" min="10" max="300" [(ngModel)]="distanceValue"></ion-range>
                    </ion-row>
                <ion-row>
                    <ion-col no-padding><p text-nowrap>10 FT</p></ion-col>
                    <ion-col no-padding style="width: auto;flex: 0 0 auto;"><p text-nowrap>300 FT</p></ion-col>
                    </ion-row>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item no-lines>
        <ion-label>WIFI</ion-label>
        <ion-toggle checked></ion-toggle>
    </ion-item>
     <ion-item no-lines>
    <ion-label>THEME</ion-label>
    <ion-toggle [checked]="selected == 'dark-theme'" (ionChange)="onSwitchTheme()"></ion-toggle>
  </ion-item>
</ion-list>-->
<ion-grid [class]="chosenTheme.className">
    <ion-row style="height: 120px;border-bottom: 1px solid lightgray;">
        <ion-col text-center style="border-right: 1px solid lightgray;">
            <ion-label>OPERATOR</ion-label>
            <ion-item no-lines no-margin no-padding>
                <ion-select style="max-width: 100%" placeholder="None selected" [selectOptions]="userSelectOptions"
                 [(ngModel)]="selectedUser" (ionChange)="onUserChanged($event)">
                    <ion-option *ngFor="let user of availableUsers" [value]="user">{{user.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col text-center (click)="onSwitchTheme(chosenTheme)">
            <ion-label>THEME</ion-label>
            <button ion-button clear icon-only no-margin color="dark" (click)="onSwitchTheme(chosenTheme)">
                <ion-icon name='sunny'></ion-icon>
            </button>
            <ion-label>{{chosenTheme.themeName}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row style="height: 120px;border-bottom: 1px solid lightgray;">
        <ion-col text-center>
            <ion-label>REMOTE CONNECT</ion-label>
            <ion-icon style="font-size: 24px;" name="wifi"></ion-icon>
            <ion-item no-lines no-margin no-padding>
                <ion-select no-padding padding-horizontal  style="max-width:100%;" placeholder="None selected" [(ngModel)]="selectedDevice" [selectOptions]="deviceSelectOptions">
                    <ion-option *ngFor="let device of devices" [value]="device.name">{{device.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row style="height: 120px;border-bottom: 1px solid lightgray;">
        <ion-col text-center style="border-right: 1px solid lightgray;" class="textTrim">
            <ion-label>TEST SET ICAO ADDRESS</ion-label>
            <ion-item no-lines no-margin no-padding>
                <ion-select ngModel="AC82EC" style="max-width: 100%">
                    <ion-option value="AC82EC">AC82EC</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col text-center>
            <ion-label>GPS SOURCE</ion-label>
            <button ion-button clear icon-only no-margin color="dark">
                <ion-icon name='pin'></ion-icon>
            </button>
            <ion-label>Internal</ion-label>
        </ion-col>
    </ion-row>
    <ion-row style="height: 120px;border-bottom: 1px solid lightgray;">
        <ion-col text-center style="border-right: 1px solid lightgray;">
            <ion-label>UUT DEVICE CLASS</ion-label>
            <ion-label>CLASS A</ion-label>
        </ion-col>
        <ion-col text-center>
            <ion-label>UUT ANTENNA</ion-label>
            <button ion-button clear icon-only no-margin color="dark">
                <ion-icon name='arrow-round-up'></ion-icon>
            </button>
            <ion-label>Top</ion-label>
        </ion-col>
    </ion-row>
    <ion-row style="height: 120px;">
        <ion-col text-center style="border-right: 1px solid lightgray;" class="textTrim">
            <ion-label>TEST SET CONNECTION</ion-label>
            <ion-icon style="font-size: 24px;" name="reorder"></ion-icon>
            <ion-item no-lines no-margin no-padding>
                <ion-select ngModel="Port A Antenna" style="max-width: 100%">
                    <ion-option value="Port A Antenna">Port A Antenna</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col text-center>
            <ion-label>DISTANCE To UUT</ion-label>
            <ion-label>{{distanceValue}} Ft</ion-label>
            <ion-range color="dark" style="padding:0;height: 20px" min="10" max="250" [(ngModel)]="distanceValue"></ion-range>
            <ion-row>
                <ion-col no-padding text-left><ion-label no-margin>10 Ft</ion-label></ion-col>
                <ion-col no-padding style="width: auto;flex: 0 0 auto;"><ion-label no-margin>250 Ft</ion-label></ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>