<ion-row nowrap >
    <ion-col no-padding padding-left align-self-center text-nowrap 
    style="font-size: 16px; color: #999999; overflow: hidden;text-overflow: ellipsis; vertical-align: text-center;"
    (click)="switchControls()">
        MARKER
    </ion-col>
    <ion-col no-padding col-auto align-self-center *ngIf="controlsIndex == 0">
        <button ion-button clear no-margin (click)="abc()"><<</button>
        <button ion-button clear no-margin>>></button>
    </ion-col>
    <ion-col no-padding col-auto align-self-center *ngIf="controlsIndex == 1">
        <button ion-button clear no-margin>+V</button>
        <button ion-button clear no-margin>+P</button>
    </ion-col>
    <ion-col no-padding col-auto align-self-center *ngIf="controlsIndex == 2">
        <button ion-button clear no-margin>+</button>
        <button ion-button clear no-margin>-</button>
    </ion-col>
</ion-row>