page-detail {
 .segement{
   margin:4px;padding:10px; display: inline-block; box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  }
 .currentsegment{
    margin:4px; padding:10px; display: inline-block; box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.30);
  }

.detailheading{
    margin-bottom: 15px;   
    font-size: 21px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom:  18px;
}
.detailLabel{
    width: 220px;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom:  11px;
}
.detailResult{
    padding-left: 10px;
    padding-bottom:  11px;
    width:280px;    
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.detailRFLinkResult{
    padding-left: 10px;
    padding-bottom:  11px;
    width:160px;    
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.detailSummaryResult{
    padding-left: 10px;
    padding-bottom:  11px;
    width:180px;    
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.detailLabel1{
    width: 50px;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom:  11px;
}
.detailResult2{
    width: 170px;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom:  11px;
}
.detailLabel3{
    width: 150px;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 8px;
}
.detailResult4{
    width: 150px;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom:  11px;
}

 
}