<ion-popover-view style="width:150px; height:465px" ng-controller="MorePopoverController">
  <ion-content>
    <div class="row">
      <button class="button button-clear button-positive button-icon-left">
    <i class="icon ion-ios-gear"/>
    Setup
  </button>
    </div>
    <div class="row">
      <button class="button button-clear button-positive button-icon-left" ng-click="openHelp($event)">
    <i class="icon ion-help" style="margin-left:3px;margin-right:5px"/>
    Help
  </button>
    </div>
    <div class="row">
      <button class="button button-clear button-positive button-icon-left">
    <i class="icon ion-clipboard" style="margin-left:2px;margin-right:3px"/>
    Show StatusB
  </button>
    </div>
    <div class="row">
      <button class="button button-clear button-positive button-icon-left">
    <i class="icon ion-archive"/>
    Save
  </button>
    </div>
    <hr style="width:140px;">
    <div class="row">
      <button class="button button-clear button-stable button-icon-left" ng-model="button1" ng-click="button1.clicked=!button1.clicked"
        ng-class="button1.clicked?'button-clear button-positive':'button-clear button-stable'">
    <i class="icon ion-wrench"/>
    Unstack
  </button>
    </div>
    <div class="row">
      <button class="button button-clear button-stable button-icon-left" ng-model="button2" ng-click="runButton_Click(button2.clicked=!button2.clicked)" ng-class="button2.clicked?'button-clear button-positive':'button-clear button-stable'">
    <i class="icon ion-android-walk" style="margin-left:3px;margin-right:5px"/>
    Run All
  </button>
    </div>
    <div class="row">
      <button class="button button-clear button-stable button-icon-left" ng-model="button3" ng-click="button3.clicked=!button3.clicked"
        ng-class="button3.clicked?'button-clear button-positive':'button-clear button-stable'">
    <i class="icon ion-refresh"/>
    Repeat
  </button>
    </div>
    <div class="row">
      <button class="button button-clear button-stable button-icon-left" ng-model="button4" ng-click="button4.clicked=!button4.clicked"
        ng-class="button4.clicked?'button-clear button-positive':'button-clear button-stable'">
    <i class="icon ion-clipboard" style="margin-left:2px;margin-right:5px"/>
    Auto Status
  </button>
    </div>
    <div class="row">
      <button class="button button-clear button-stable button-icon-left" ng-model="button" ng-click="button.clicked=!button.clicked"
        ng-class="button.clicked?'button-clear button-positive':'button-clear button-stable'">
     <i class="icon ion-archive" style="margin-right:4px"/> Auto Save
    </button>
    </div>


  </ion-content>
</ion-popover-view>