graph-comp {
.rtvswrbtnChecked{color: #000; background-color: #d0d0d0;}
.rtVswrbtnUnchecked{color: #000; background-color: #f0f0f0;}
.meterFtbtn{color:#000; background-color: #f0f0f0;}


.marker{
  position: absolute;
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0;
}

.marker .range-slider{
  height: 0px;
  background: red;
}

.marker .range-bar{
  background: green;
  height: 0px;
  margin:0;
}

.marker .range-knob{
  visibility: collapse
}

.marker .range-knob-handle{
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: lightgray;
  border: 1px solid gray;
  margin-left: -12px;
  margin-top: -14px;
  overflow: visible;
}

.marker .range-knob-handle:before{
  content: "M";
  line-height: 1.6;
}



.marker-line{
  position: absolute;
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0;
}

.marker-line .range-slider{
  height: 0px;
  background: red;
}

.marker-line .range-bar{
  background: green;
  height: 0px;
}

.marker-line .range-knob{
  visibility: collapse
}
.marker-line .range-knob-handle{
  height: 256px;
  width: 1.5px;
  margin-left:0px;
  background: orange;
}


}