<ion-row style="height: 400px;">
  <ion-col>
  </ion-col>
  <ion-col col-auto>
    <ion-grid>
      <ion-row nowrap>
        <ion-col col-auto>
          <button ion-button small (click)="RlVswrScaleSwitch()" [color]="isRlVswrScaleChecked ? 'checked' : 'unchecked' " style="height:30px; width: 70px; font-size: 12px;">Return<br/>Loss</button>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col col-auto>
          <button ion-button small (click)="RlVswrScaleSwitch()" [color]="isRlVswrScaleChecked ? 'checked' : 'unchecked' " style="height:30px; width: 70px; font-size: 12px;">VSWR</button>
        </ion-col>
      </ion-row>
      <ion-row nowrap>
        <ion-col col-auto align-self-stretch>
          <ion-row style=" width:30px;height: 41px;" *ngFor="let obj of currentRlScale">
            <ion-col no-padding align-self-end text-nowrap text-right>
              {{obj.val}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col no-padding>
          <ion-row style="height: 30px;">
            <!--<ion-col no-padding>
              <svg viewBox="0 0 30 2000">
                <text x="0" y="0">0 deg</text>
              </svg>
            </ion-col>-->
          </ion-row>
          <ion-row>
            <img style="height: 256px; width: 400px;" src="../../../assets/graph-back.png" />
          </ion-row>
        </ion-col>
        <ion-col col-auto align-self-stretch>
          <ion-row style=" width:30px;height: 41px;" *ngFor="let obj of currentVswrScale">
            <ion-col no-padding nowrap align-self-end text-nowrap>
              {{obj.val}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="height: 12px;">
      </ion-row>
      <ion-row *ngIf="SelectedBand" align-items-center style="height: 30px;">
        <ion-col no-padding col-auto style="width: 45px;">
        </ion-col>
        <ion-col no-padding>
          {{SelectedBand.start}}
        </ion-col>
        <ion-col no-padding col-auto text-center>
          {{SelectedBand.middle}}
        </ion-col>
        <ion-col no-padding text-right>
          {{SelectedBand.stop}}
        </ion-col>
        <ion-col no-padding col-auto style="width: 45px;padding-left: 3px;">
          MHz
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isDTFmode" style="position: relative;height: 30px;">
        <ion-col no-padding align-self-center>
          <ion-row>
            <ion-col no-padding align-self-center text-center *ngFor="let obj of currentLengthScale">{{obj.val}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col no-padding style="position: absolute;" text-right>
          <button ion-button no-margin small text-capitalize color="light" (click)="LengthScaleSwitch()"> 
           <span *ngIf="!isLengthScaleChecked">M</span>
            <span *ngIf="isLengthScaleChecked">Ft</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row>