<ion-row>
  <ion-col>
  </ion-col>
  <ion-col col-auto>
    <ion-grid>
      <ion-row nowrap>
        <ion-col col-auto>
          <button ion-button small (click)="RlVswrScaleSwitch()" [color]="isRlVswrScaleChecked ? 'checked' : 'unchecked' ">Return Loss</button>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col col-auto>
          <button ion-button small (click)="RlVswrScaleSwitch()" [color]="isRlVswrScaleChecked ? 'checked' : 'unchecked' ">VSWR</button>
        </ion-col>
      </ion-row>
      <ion-row nowrap>
        <ion-col col-auto align-self-stretch>
          <ion-grid>
            <ion-row style=" width:30px;height:36.5px;" *ngFor="let obj of currentRlScale">{{obj.val}}</ion-row>
          </ion-grid>
        </ion-col>
        <ion-col>
          <img style="height: 256px; width: 400px;" src="../../../assets/graph-back.png" />
        </ion-col>
        <ion-col col-auto>
          <ion-grid>
            <ion-row style=" width:30px;height:36.5px;" *ngFor="let obj of currentVswrScale">{{obj.val}}</ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row nowrap nopadding nomargin text-right *ngIf="isDTFmode" >
        <ion-col no-padding align-self-center *ngFor="let obj of currentLengthScale"  >{{obj.val}}</ion-col>
        <ion-col no-padding col-auto >
          <button ion-button small no-margin color="light" style="width:30px" (click)="LengthScaleSwitch()"> 
           <span *ngIf="!isLengthScaleChecked">M</span>
            <span *ngIf="isLengthScaleChecked">Ft</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row> 