<ion-header no-border style="background: #fcfcfc">
  <ion-row>
    <ion-col no-padding>
    </ion-col>
    <ion-col col-auto no-padding text-center align-self-center>
      <h5>Saved Data</h5>
    </ion-col>
    <ion-col no-padding text-right align-self-center>
      <button ion-button no-margin icon-only clear (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content style="background: #fcfcfc">
  <ion-list radio-group [(ngModel)]="selectedItem">
    <ion-card *ngFor="let data of dataList; let i = index;" (click)="onItemSelected(data,i)">
      <ion-row>
        <ion-col col-auto align-self-center padding-left>
          <ion-radio [value]="data"></ion-radio>
        </ion-col>
        <ion-col>
          <ion-item>
            <h3 item-left>USER: {{data.username}}</h3>
            <p item-right>{{data.datetime}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
  <ion-row style="height: 100%" *ngIf="dataList.length == 0">
    <ion-col align-self-center text-center>
      <ion-note>No record found</ion-note>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer no-border style="background: #fcfcfc">
  <ion-row>
    <ion-col no-padding align-self-center>
      <button ion-button clear icon-only color="danger" [hidden]="!selectedItem" (click)="deleteRecord()"><ion-icon name="trash"></ion-icon></button>
    </ion-col>
    <ion-col align-self-center col-auto text-center>
      <button ion-button small [disabled]="!selectedItem" (click)="onViewData()"><b>View</b></button>
    </ion-col>
    <ion-col align-self-center>
    </ion-col>
  </ion-row>
</ion-footer>