page-detail {

    .bullet-current{
    background-color: color($colors, primary);
}

.bullet-normal{
    background-color: #cccccc;
}

 .segement{
   margin:4px;padding:10px; display: inline-block; box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  }
 .currentsegment{
    margin:4px; padding:10px; display: inline-block; box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.30);
  } 
}