<ion-card style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;" text-left>
<ion-scroll scrollY="true" style="height:100%;width:100%;">
<div id="svgBox" style="position: relative" align="center"  >

  <svg style="position: absolute;padding-top:5%;padding-left:11%" viewBox="0 0 1050 1050" (window:resize)="onResize($event)" [style.width]="isPortrait ? '90%' : '45%' ">
    <circle *ngFor="let obj of circleobjs" [attr.cx]="obj.cx" [attr.cy]="obj.cy" [attr.r]="obj.r" stroke="#000000" stroke-width="3" stroke-dasharray="10 5" fill="#044B94" fill-opacity="0" />
    <rect *ngFor="let object of objects" [attr.x]="getX(object.longitude)" [attr.y]="getY(object.latitude)" [attr.fill]="object.color" width="30" height="30"></rect>
  <!--<text *ngFor="let object of objects" [attr.x]="getX(object.longitude)" [attr.y]="getY(object.latitude)" [attr.fill]="object.color" font-size="48px" width="30" height="30">{{object.name}}</text>-->
  </svg>

<svg style="position: relative" viewBox="0 0 1600 1350" (window:resize)="onResize($event)" [style.width]="isPortrait ? '100%' : '50%' ">
<text x="760" y="50" style="font-size:50px">0 deg</text>
<text x="700" y="1330" style="font-size:50px">180 deg</text>
<text x="0" y="700" style="font-size:50px">270 deg</text>
<text x="1430" y="700" style="font-size:50px">90 deg</text>
<text x="1250" y="250" style="font-size:55px; font-weight: 600">Scale: 1 NM</text>
</svg>
</div>
<!--<ion-label *ngFor="let object of objects">Name = {{object.name}}, Latitude = {{object.latitude}}, Longitude = {{object.longitude}}</ion-label>-->
</ion-scroll>
</ion-card>
