<ion-list style="margin:0px" [class]="chosenTheme.className">
  <modal-ionitem-comp [modalSource]="setup"></modal-ionitem-comp>
  <modal-ionitem-comp [modalSource]="help"></modal-ionitem-comp>
  <ion-item no-lines>
    <ion-icon name="remove-circle" item-left></ion-icon>
    <ion-label>{{'CLEAR' | translate}}</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-icon name="browsers" item-left></ion-icon>
    <ion-label>{{'DUAL PANEL' | translate}}</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-icon name="funnel" item-left></ion-icon>
    <ion-label>{{'FILTER' | translate}}</ion-label>
  </ion-item>
  <ion-item no-lines (click)="runall()">
    <ion-icon name='walk' item-left [style.opacity]="isrun() ? '1.0' : '0.5' "></ion-icon>
    <ion-label [style.opacity]="isrun() ? '1.0' : '0.5' ">{{'RUN ALL' | translate}}</ion-label>
  </ion-item>
  <ion-item no-lines (click)="repeatTest()">
    <ion-icon name='repeat' item-left [style.opacity]="!repeatTest() ? '1.0' : '0.5' "></ion-icon>
    <ion-label [style.opacity]="repeatTest() ? '1.0' : '0.5' ">{{'REPEAT' | translate}}</ion-label>
  </ion-item>
  <ion-item no-lines (click)="autoSave()">
    <ion-icon [style.opacity]="!autoSave() ? '1.0' : '0.5' " name='cloud-upload' item-left></ion-icon>
    <ion-label [style.opacity]="autoSave() ? '1.0' : '0.5' ">{{'LOG DATA' | translate}}</ion-label>
  </ion-item>
  <ion-item no-lines *ngIf="testInContext" (click)="onStartSwitch(testInContext)">
    <ion-icon name='star-outline' item-left [style.opacity]="testInContext.isStartItem ? '1.0' : '0.5' "></ion-icon>
    <ion-label [style.opacity]="testInContext.isStartItem ? '1.0' : '0.5' ">{{'START' | translate}}</ion-label>
  </ion-item>
  <ion-item no-lines *ngIf="testInContext && testInContext.isGuideAvailable" (click)="onGuideSwitch(testInContext)">
    <ion-icon name='information-circle' item-left [style.opacity]="testInContext.isGuideDisabled ? '1.0' : '0.5' "></ion-icon>
    <ion-label [style.opacity]="testInContext.isGuideDisabled ? '1.0' : '0.5' ">{{'GUIDE' | translate}}</ion-label>
  </ion-item>
  <ion-item no-lines>
    <p item-right>{{'Version' | translate}} {{versionNumber}}</p>
  </ion-item>
</ion-list>